*.mp4
research_codes/model_generation/old/
research_codes/model_generation/Results/
research_codes/model_generation/documentation/
*.asv
*Copy.m

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

